body{
	text-align:center;
	font-family:sans-serif;
	height:100%;
	overflow:hidden;
	background: #000;
}
button{
	background:none;
	border:none;
	cursor:pointer;
}
.controls span + span.disabled button,
.controls span + span.disabled,
.disabled,
.controls span + span.disabled button.speed,
button:active{
	color:#888;
	cursor:default;
}
.controls span button{
	background:#eee;
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	padding:1px 5px 3px 5px;
}
.controls span + span,
.controls span + span button{
	color:#7D9EC0;
}
.controls span + span button.speed{
	color:#fff;
}
.controls span + span button{
	background: none;
	padding:1px 0 3px 0;
	margin-left:0;
	margin-right:4px;
}
.controls div,
.thumbs ul{
	margin:0 auto;
	width:1170px;
}
.image div{
	/*width:815px; biggest of set
	text-align:center;*/
}
.image + div{
	margin:0 25px;
}
figcaption{
	padding-top:10px;
	text-align:left;
	margin:0 auto;
}
figure{
	visibility:hidden;
	padding-top:15px;
	display:inline-block;
	margin:0 auto;
	/*for IE7 (does nothing for IE8)*/
	zoom:1;
	*display:inline;
}
html{
	height:100%;
}
.thumbs img{ /*context into which thumbs are first loaded for sizing*/
	visibility:hidden;
}
.thumbs li img{
	visibility:visible;
	position:absolute;
}
.thumbs li img.initialized{
	cursor:pointer;
}
.thumbs li.active img{
	cursor:default;
}
.controls span{
	padding-right:12px;
}
.thumbs li{
	display:block;
	position:relative;
	float:left;
	width:60px;
	height:60px;
	overflow:hidden;
	border:5px solid transparent;
	margin:0 3px 0 0;
}
.thumbs li.active{
	border:5px solid #fff;
}
.thumbs ul{
	/*@ .controls div*/
	cursor:pointer;
}
.thumbs ul.unitialized{
	cursor:default;
}
/*pure classes-------------------------------------------------------*/
.controls{
	text-align:left;
	width:100%;
	padding-top:50px;
	padding-bottom:20px;
	overflow:hidden;

}
.image{
	display:block;
	height:642px;
	text-align:center;
	min-width:900px;
	min-height:233px;
	color:#fff;
}
.speed{
	cursor:default;
}
span + span + span .speed{
	cursor:pointer;
}
.thumbs{
	width:100%;
	text-align:center;
	overflow:auto;
	padding-bottom:3px;
}
